<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- icon Link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Code Campus</title>
</head>
<body>
    <!-- header -->
    <header>
        <nav id="navigation-bars" class="navbar navbar-expand-lg bg-body-tertiary px-0 py-3 sticky-top">
            <div class="container-xl px-3">
              <a class="navbar-brand " href="#">Code<span>Campus</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link text-center" aria-current="page" href="#/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#/course">Course</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- end header -->
    <main id="main-Content" class="container-fluid">
        
    </main>
    <footer id="footers" class="footer bg-dark py-5">
      <div class="container">
        <div class="row text-white mb-5">
          <div class="col-md-4">
            <h5>About Us</h5>
            <p>Selamat datang di CodeCampus, website open source pembelajaran coding untuk pemula. 
              Bergabunglah dengan komunitas inklusif kami dan mulai perjalanan belajar Anda hari ini. 
              Mari ubah dunia melalui kode bersama-sama!</p>
          </div>
          <div class="col-md-2">
            <h5>Our Service</h5>
            <ul class="list-unstyled">
              <li><a class="text-decoration-none text-decoration-white" href="#">Home</a></li>
              <li><a class="text-decoration-none text-decoration-white" href="#">Course</a></li>
              <li><a class="text-decoration-none text-decoration-white" href="#">Blog</a></li>
              <li><a class="text-decoration-none text-decoration-white" href="#">About Us</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Legal</h5>
            <ul class="list-unstyled">
              <li><a class="text-decoration-none text-decoration-white" href="#">Terms of Service</a></li>
              <li><a class="text-decoration-none text-decoration-white" href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Support</h5>
            <ul class="list-unstyled">
              <li><a class="text-decoration-none text-decoration-white" href="#">FAQ</a></li>
              <li><a class="text-decoration-none text-decoration-white" href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-md-2">
            <h5>Guides</h5>
            <ul class="list-unstyled">
              <li><a class="text-decoration-none text-decoration-white" href="#">Getting Started</a></li>
              <li><a class="text-decoration-none text-decoration-white" href="#">Tutorials</a></li>
            </ul>
          </div>
        </div>
        <div class="row text-white">
          <div class="col-md-12">
            <p class="text-center fs-6">© 2023 CodeCampusProject. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="/dist/app.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>