<div class="jumbotron mb-5 py-5 bg-opacity-60" style="height: 400px; background-color: rgba(0, 0, 0, 0.7); position: relative;">
  <img src="${courses.pictUrl}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; object-position: center; filter: grayscale(40%); z-index: -1;">
  <div class="container text-center justify-content-center">
    <h1 class="display-4 fs-1 fw-bolder text-white">${courses.tittle}</h1>
    <p class="lead fs-6 text-white">Jangan pernah berhenti belajar. Di dunia coding, ada selalu hal baru yang bisa dipelajari dan dikuasai.<br> Teruslah eksplorasi dan berani mengambil tantangan baru.</p>
  </div>
</div>
<div class="container-xxl">
  <div class="card mb-4 pt-3 px-4">
    <h2>Deskripsi</h2>
    <p>${courses.desc}<p>
  </div>
  <div class="card mb-4 pt-3 px-4">
    <h2>Materi</h2>
    <div class="materi">
    
    <div>
  </div>
  <div class="card mb-4 pt-3 px-4">
    <h2>Persiapan Kelas</h2>
    <p>${courses.preps}</p>
  </div>
</div>