<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p><b>INI BOLD</b></p>
  <p><strong>INI TEKS STRONG</strong></p>
  <p><em>INI TEKS EMPHASIZED</em></p>
  <p><i>INI TEKS ITALIC</i></p>
  <p><small>INI TEKS SMALLER</small></p>
  <p><del>INI TEKS DELETED</del></p>
  <p><ins>INI TEKS INSTERTED</ins></p>
  <p><sub>INI TEKS Subscript</sub></p>
  <p><sup>INI TEKS Superscrip</sup></p>
</body>
</html>

