.home {
    min-height: 100vh;
    background: var(--container-color);
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}


.hero-text {
    color: var(--bg-color);
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    text-align: center;
    font-size: 1.2rem;
    color: var(--second-color);
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
}

.hero-subtitle {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.hero-sub-subtitle {
    font-size: 1rem;
    text-align: center;
    padding-bottom: 3rem;
    padding-left: 10%;
    padding-right: 10%;
}

.btn-hero {
    padding: 1.2rem 2rem;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.find-btn {
    background-color: var(--second-color);
    color: var(--bg-color);
}

.explore-btn {
    background-color: var(--bg-color);
    color: var(--second-color);
}

.explore-btn:hover {
    background-color: #d0d0d0;
    transition: .3s ease;
}

/* Collapese */
.accordion-button:not(.collapsed){
    background-color: var(--bg-color);
    color: #000;
}
.accordion-body{
    font-weight: 400;
    font-size: .9rem;
}
.faq-list{
    padding-left: 9.6%;
    padding-right: 9.6%;
}

/* Testimonial */
.testimonial-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.testimonial-card .card-img-top {
    width: 12%;
    height: 12%;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.testimonial-card .card-body {
    flex: 1;
}
.testimonial-card .card-title {
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--second-color);
}
.testimonial-card .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2.4; /* Mengatur jumlah baris teks yang ditampilkan */
    -webkit-box-orient: vertical;
    font-size: 0.9rem;
    text-align: justify;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Header Responsive */
    .hero-subtitle{
        font-size: 1.3rem;
    }
    .hero-title{
        font-size: 1.5rem;
    }
    .hero-sub-subtitle{
        font-size: 0.9rem;
    }
    .find-btn, .explore-btn{
        font-size: 14px;
        text-align: center;
    }

    /* Testimonial */
    .testimonial-card .card-img-top{
        width: 20%;
        height: 20%;
    }
    .testimonial-card .card-text{
        font-size: .79rem;
    }
}