*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
}

::selection {
    color: var(--bg-color);
    background-color: var(--second-color);
}

.text-decoration-white{
    color: #fff;
}
/* Categories */
.categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.categories-box,
.explore-box {
    background-color: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: .5rem;
}


.categories-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: .5rem;
}

.category-title {
    font-size: 1.3rem;
    padding-top: 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.path-section,
.populer-section{
    padding-top: 2%;
    padding-bottom: 8%;
}

.category-detail {
    font-weight: 400;
    font-size: .8rem;
    padding-top: .5rem;
    display: block;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
    .res-nav-link{
        text-align: center;
    }
}
